<div class="bg-img">
    <div class="col-md-10 py-5">
        <div class="text-lg-left col-8">
            <h2 class="section-title text-playfair mb-4 ms-5">Unlock the doors of imagination; read a book, explore a
                universe!</h2>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">All Books</h6>
                    <h2 class="text-right"><i class="ti-shopping-cart f-left"></i><span>{{totalBookCount}}</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Available to Read</h6>
                    <h2 class="text-right"><i class="ti-reload f-left"></i><span>{{availableBookCount}}</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Already Taken</h6>
                    <h2 class="text-right"><i class="ti-wallet f-left"></i><span>{{takenBookCount}}</span></h2>
                </div>
            </div>
        </div>
    </div>